<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Page</title>
<style>
th,td{
	padding:5px;
}
.error{
	color:red;
}
</style>
</head>
<body>
	<h2>Register</h2>
	
<form action="#" th:action="@{/register}" th:object="${user}" method="POST">
	<table>
		<tr>
			<td>User Name</td>
			<td><input type="text" name="username"/><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></span></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="text" name="password" /><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Submit"/></td>
		</tr>
	</table>
</form>
</body>
</html>